#function3 {

}

#function3 #square {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin-top: 170px;
  margin-left: 40px;
  transition: transform 1s;
}

#function3 #square.active {
  transform: translateX(15vw);
}
